<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Show Quiz</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/quiz" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Quiz</a>
                </h3>
                <h2 th:text="${quiz.question}"></h2>
                <h3 th:text="${quiz.answers}"></h3>
               
                <form action="/delete">
                    <input type="hidden" name="id" th:value="${quiz.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                        <a th:href="@{'/edit/' + ${quiz.id}}" class="btn btn-warning">Edit</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>